<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %} Index Template {% endblock %}</title>
        {% block stylesheets %}{% endblock %}
        <style>
            html {
                width: 100%;
                height: 100%;
            }
            body {
                padding:0;
                margin:0;
                width: 100%;
                height: 100%;
                text-align: center;
                font-family: Arial, Helvetica, sans-serif;
                background: linear-gradient(silver, lightblue);
            }
            .container {
                padding: 25px;
                margin: 25px;
                border: solid 1px gray;
                border-radius: 35px;
            }
            .my-card {
                margin:auto;
                border:solid 1px silver;
                border-radius:35px;
                max-width:350px;
                padding:5px 25px 25px 25px;
                background: lightyellow;
                box-shadow: 5px 5px 5px gray;
            }
            .my-form {
                text-align: left;
            }
            .my-form input, button {
                border:none;
                border-radius:15px;
                padding:7px;
            }
        </style>
    </head>
    <body>

    {% block top_bar %}
        <div style="width:100%; background: gray; color: white; height: 30px;padding:15px 0; margin: 0">
            <div style="margin:auto">

                <a href="/categories"> Index </a> |
                <a href="/categories/create"> Create </a> |

                <form action="/search" method="post" class="my-form" style="display:inline">
                    <input type="text" name="pattern">
                    <button type="submit">Send</button>
                </form>
            </div>
        </div>
    {% endblock %}

    {% block body %}{% endblock %}

    {% block javascripts %}{% endblock %}

    </body>
</html>
















