{% extends 'layout/main.html.twig' %}

{% block title %}{{ title }}{% endblock %}

{% block canvas %}
    <div class="row justify-content-center">
        <div class="col-6">
            <h2>{{ post.title }}</h2>
            <p>{{ post.content }}</p>
        </div>
    </div>
{% endblock %}



