<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Lucky Number</title>
    <style>
        body {
            font-family: Arial, Helvetica, sans-serif;
        }
        .container {
            padding: 25px;
            margin: 25px;
        }
    </style>
</head>
<body>
<div class="container">
    <h2>Your lucky number is {{ number }}</h2>
</div>
</body>
</html>