{% extends 'cats/main.html.twig' %}

{% block title %}{{ title }}{% endblock %}

{% block body %}

<div class="container">

    <div class="my-card">

        <h2>{{ title }}</h2>

        <form action="/categories/update" method="post" class="my-form">
            <p>
                <input name="name" type="text" value="{{ category.name }}">
                <input name="id" type="hidden" value="{{ category.id }}">
            </p>
            <p>
                <input type="submit" value="Submit">
            </p>
        </form>

    </div>

</div>


{% endblock %}



