{% extends 'cats/main.html.twig' %}

{% block title %}{{ title }}{% endblock %}

{% block body %}

<div class="container">

    <div class="my-card">

        <h2>Category Name: </h2>

        <p>
            {{ category.name }}
        </p>

    </div>

</div>

{% endblock %}



